@{
    ViewBag.Title = "Home Page";
}

<header class="jumbotron my-4 text-center">
    <h1 class="display-3">Welcome to Book Club!</h1>
    <p class="lead">Coordinate meetings and choose books with ranked-choice voting system</p>
    <a href="#" class="btn btn-primary btn-lg">Start a new club</a>
</header>

<div class="row">
    <div class="col">
        <ul>
            <li>@Html.ActionLink("Books","Index", "Books")</li>
            <li>@Html.ActionLink("Authors","Index", "Authors")</li>
            <li>@Html.ActionLink("Book Clubs", "Index", "BookClubs")</li>
            <li>@Html.ActionLink("Book Club Meetings", "Index", "BookClubMeetings")</li>
            <li>@Html.ActionLink("Book Votes", "Index", "BookVotes")</li>
            <li></li>
        </ul>
    </div>
</div>