@{
    ViewBag.Title = "Home Page";
}

<header class="jumbotron my-4 text-center light-box-shadow">
    <h1 class="display-3 text-xl"><strong>Welcome to Book Club!</strong></h1>
    <p class="lead">Coordinate meetings and choose books ranked-choice voting</p>
    <i class="fa fa-book text-huge"></i>
    <div class="row">
        <div class="col-12 my-4">
            @using (Html.BeginForm("ProcessClubCode","BookClubs", FormMethod.Post, new { @class = "form-inline justify-content-center" }))
            {
                @Html.AntiForgeryToken()
                <label class="sr-only" for="inlineFormInputName2">Club Code</label>
                @Html.TextBox("accessCode", "", null, new { @class = "mb-2 mr-2 mb-sm-0 pl-1 bg-white", placeholder = "Enter Club Code" });
                <button type="submit" class="btn btn-primary">Go!</button>
            }
        </div>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-12"><strong>Not part of a club yet?</strong></div>
        <div class="col-12">
            @Html.ActionLink("Create a Book Club", "Create", "BookClubs", new { }, new { @class = "btn btn-sm btn-info" })
        </div>
    </div>
</header>

<div class="row">
    <div class="col">
        <ul>
            <li>@Html.ActionLink("Books","Index", "Books")</li>
            <li>@Html.ActionLink("Authors","Index", "Authors")</li>
            <li>@Html.ActionLink("Book Clubs", "Index", "BookClubs")</li>
            <li>@Html.ActionLink("Book Club Meetings", "Index", "BookClubMeetings")</li>
            <li>@Html.ActionLink("Book Votes", "Index", "BookVotes")</li>
        </ul>
    </div>
</div>