<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Organize book club meetings with a ranked choice voting system">
    <meta name="author" content="Jon Janelle">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Book Club Organizer" />
    <meta property="og:site_name" content="Book Club Organizer" />
    <meta property="og:description" content="Organize book club meetings with a ranked choice voting system" />
    <meta property="og:url" content="" />
    <title>@ViewBag.Title - Ranked Choice Book Club</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/vendor")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-lightgray">
    <div id="wrapper">
        @Html.Partial("_Navbar")
        <div class="container my-4"">
            @RenderBody()
        </div>
        <div id="push"></div>
    </div>
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
