@model IEnumerable<RankedChoiceBookClub.Models.Book>

@{
    ViewBag.Title = "Manage Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books Index</h2>

<p>
    @Html.ActionLink("Add Book", "Create", new { }, new { @class = "btn btn-sm btn-success" })
</p>
<div class="table-responsive">
<table class="table table-bordered light-box-shadow">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="white-bg">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
