@model RankedChoiceBookClub.ViewModels.BookClubMeetingFormVM

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal white-block">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.BookClubMeeting.BookClubId)
        @Html.DropDownListFor(m => m.BookClubMeeting.BookClubId, new SelectList(Model.BookClubs, "Id", "Name"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="date" class="form-control" id="BookClubMeeting_Date" name="BookClubMeeting.Date" value="@string.Format("{0:yyyy-MM-dd}", @Model.BookClubMeeting.Date)" data-val-required="The date field is required" />
            @Html.ValidationMessageFor(model => model.BookClubMeeting.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

